body {
  background: black;
  color: pink;
  padding: 50px;
  font: 8px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}



button, input {
font-size: 6px;
margin: 0 2px;
padding: 1px 2px;
outline: none;
border: 1px dashed #00f;
}

img {
  border: 10px wavy pink;
  width: 160px; height: 40px;
  margin: 2px;
}

.hide {
  display: none;
}


