body {
  background: #ff0;
  color: #00f;
  padding: 50px;
  font: 8px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

@keyframes blink {
  from { background: #ff0; }
  to { background: #f0f; }
}




